.history/
.vscode/

*test*
*test.py
config.py

__pycache__
*.tar
*.sh
*.out
cobs/__pycache__/*
result/

data/*test/
data/rule_based_log_data/
data/policy_evaluation/
data/policy_librar*
data/*logs
data/hyperparam_sweeps/
data/train*
data/policy_map*

notebooks/

train.py
train_test.py

scripts/
*todo*

wandb/
cc-outputs/
cc-scripts/*